@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

html {
  font-size: 100%;
}

body {
  font-family: 'Young Serif', serif;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-color: #1a1a1d;
  width: 100%;
  height: 100vh;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.header h1 {
  color: #c3073f ;
  font-size: 4rem;
}

.event-form {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}